@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-bg-primary: #ffffff;
	--color-bg-secondary: #f3f4f6;
	--color-text-primary: #1a1a1a;
	--color-text-secondary: #4b5563;
	--color-border-primary: #e5e7eb;
	--color-border-secondary: #d1d5db;
	--color-accent: #ff5722; /* Windows Hawaii Orange */
	--color-accent-hover: #f4511e; /* Darker Orange */
	--color-button-text: #ffffff;
}

.dark {
	--color-bg-primary: #2f2f2f;
	--color-bg-secondary: #444444;
	--color-text-primary: #f9fafb;
	--color-text-secondary: #eec5b6;
	--color-border-primary: #555555;
	--color-border-secondary: #374151;
	--color-accent: #ff5722;
	--color-accent-hover: #ee7d5b;
	--color-button-text: #ffffff;
}

.tokyo-night {
	--color-bg-primary: #1a1b26;
	--color-bg-secondary: #24283b;
	--color-text-primary: #a9b1d6;
	--color-text-secondary: #787c99;
	--color-border-primary: #565f89;
	--color-border-secondary: #555f78;
	--color-accent: #0cab6d;
	--color-accent-hover: #40a880;
	--color-button-text: #ffffff;
}

.andromeda {
	--color-bg-primary: #23262e;
	--color-bg-secondary: #2f333d;
	--color-text-primary: #e5e5e5;
	--color-text-secondary: #a0a0a0;
	--color-border-primary: #2f333d;
	--color-border-secondary: #383c44;
	--color-accent: #2298ff;
	--color-accent-hover: #2c81ca;
	--color-button-text: #ffffff;
}

body {
	@apply bg-primary text-primary transition-colors duration-200;
}

@layer components {
	.btn-primary {
		@apply inline-flex items-center justify-center gap-2 rounded-lg bg-[var(--color-accent)] px-4 py-2 text-[var(--color-button-text)] shadow-sm hover:bg-[var(--color-accent-hover)] transition-colors duration-200 font-medium;
	}

	.btn-secondary {
		@apply inline-flex items-center justify-center gap-2 rounded-lg border border-primary bg-primary px-4 py-2 text-primary shadow-sm hover:bg-secondary transition-colors duration-200 font-medium;
	}
}

input {
	@apply rounded-md border-primary text-gray-600 text-lg font-medium;
}

input:focus {
	@apply outline-none;
}
